# Ignore Python virtual environments
venv/
.venv/

# Bytecode and cache
__pycache__/
*.py[cod]

# VSCode / PyCharm settings (optional)
.vscode/
.idea/

# Streamlit logs
.streamlit/

# OS files
.DS_Store
Thumbs.db
